html,body {
    /* width: 100vw; */
    height: 100vh;
    /* display: flex;
    justify-content: center;
    text-align: center; */
    margin: 0;
    background-color: black;
    color: white;
    font-family: Lora, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cloudy {
    background: linear-gradient(0deg, rgb(41 176 255) 42%, rgba(135,135,135,1) 100%);
}

.sunny {
    background: linear-gradient(0deg, rgba(15,191,255,1) 25%, rgba(0,119,255,1) 100%);
}

.stormy {
    background: linear-gradient(0deg, rgb(115 115 115) 25%, rgb(55 55 55) 100%);
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 6fr 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    text-align: center;
}

#three-day-forecast {
    grid-column: 2;
    padding: 4px;
}

#today-wrapper {
    grid-column: 4;
}

main > div, ul {
    grid-row: 2;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 8px;
}

h1 {
    font-size: 3em;
    margin: 0.33em;
}

#search {
    grid-column: 4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#query {
    background-color: #e2e8f0;
    border-radius: 16px;
    width: 50%;
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    font-family: inherit;
}

.three-levels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.forecast-tabs, .interval {
    display: flex;
    justify-content: space-around;
}

#temperature-intervals {
    overflow: scroll;
    padding: 0px;
    grid-column: 6;
    margin: 0;
    scrollbar-width: none;
}

#three-day-forecast, #temperature-intervals {
    width: 100%;
}

.interval {
    height: 36px;
}

.loading-image {
    position: absolute;
    top: 3%;
    left: 2%;
}

.hidden {
    display: none;
}

footer {
    margin: 0;
    align-self: center;
    font-size: 16px;
    grid-column: 4;
    grid-row: 3;
}

footer > a {
    color: inherit;
    text-decoration: none;
}

.github-link {
    width: 16px;
    margin-left: 5px;
}

.loading::after {
    content: "...";
    animation: ellipsis 1s infinite;
}

@keyframes ellipsis {
    0% {
      content: ".";
    }
    33% {
      content: "..";
    }
    66% {
      content: "...";
    }
  }
  
